@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark-900 text-slate-100 antialiased;
  }
}

@layer utilities {
  .glass {
    @apply bg-white/5 backdrop-blur-lg border border-white/10;
  }
  .glass-card {
    @apply bg-dark-800/50 backdrop-blur-xl border border-white/5 shadow-xl;
  }
}
